<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MAIN</title>
    <link rel="stylesheet" href="style_signup.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      var determine = [];
      var flag = [];

      var i = 1;

      function determines(e) {
        if (determine[e.value] === 0 || determine[e.value] === undefined) {
          if (e.text != "Select") {
            flag[e.value] = e.text;

            document.getElementById("result").innerText +=
              i + "." + e.text + "\r\n";
            e.text = flag[e.value] + "(삭제)";
            i = i + 1;
            determine[e.value] = 1;
            $("#subject option:eq(0)").prop("selected", true);
            $("#subject option:selected").text();
          }
        } else if (determine[e.value] === 1) {
          var aa = document.getElementById("result");
          while (aa.firstChild) {
            aa.removeChild(aa.firstChild);
          }
          e.text = flag[e.value];
          determine[e.value] = 0;
          document.getElementById("result").innerText += "장바구니\n";
          var j;
          var k = 1;
          for (j = 1; j < 273; j++) {
            if (determine[j] === 1) {
              document.getElementById("result").innerText +=
                k + "." + flag[j] + "\r\n";
              coloring(j);
              alarm(j);
              k++;
            }
          }
          i = i - 1;          $("#subject option:eq(0)").prop("selected", true);
          $("#subject option:selected").text();
        }
      }
      function coloring(e) {}
      function alarm(e) {}

    </script>
  </head>

  <body>
  {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
    {% else %}
    <a href="{% url 'common:login' %}">로그인</a>
    {% endif %}
<a href="{% url 'common:signup' %}">회원가입</a>
    <div class="line">
      <div>&nbsp</div>
      <div id="login_back">
        <div id="signup_question">과목을 선택하시오</div>
        <div id="signup_select">
          <select
            id="subject"
            name="subject"
            onchange="determines(this.options[this.selectedIndex])"
            class="selectpicker"
            data-libe-search="true"
          >
            <option value="none" id="invisible">Select</option>
            {% for subject in subject_list %}
            <option value={{ subject.id }}>{{ subject.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="result_back">
          <div id="result">장바구니<br /></div>
        </div>
      </div>

      <div>&nbsp</div>
    </div>
  </body>
</html>