{% load static %}

<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>color</title>
    <style>
        .color3{
            border:1px solid gray;
            background-color:powderblue;
        }
        .subject{
            height:100px;
            width:500px;
            top:500px;
            left:500px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(function(){
        $('.show').click(function (){
            $('.subject').show();
        });
        $('.hide').click(function (){
            $('.subject').hide();
        });
    });
    </script>
</head>

<body>
{% include "navbar.html" %}
<script src="{% static 'jquery-3.5.1.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<div class = "container my-3">
</div>

<input class="show" type="button" value="show">
<input class="hide" type="button" value="hide">
<div class="subject color3"></div>

</body>
