.line {
  display: grid;
  grid-template-columns: 1fr 620px 1fr;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
}
th,
td {
  border-collapse: collapse;
}
th {
  height: 10px;
  background-color: rgb(138, 138, 138);
  color: white;
}
td {
  width: 100px;
  height: 10px;
  text-align: center;
}