        * {
  margin: 0;
  padding: 0;
}
input {
  border: 0px solid;
  background: rgb(70, 70, 161);
  width: 250px;
  font-size: 20px;
  padding: 12px;
  margin-top: 10px;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 3px;
}

body {
  background: #f5f6f7;
}
#login_title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
  color:#57af4c;
  font-weight:1000;
}
hr {
  color: black;
  size: 1;
  margin-top: 10px;
}
#login_back {
  position: center;
}
hr {
  color: black;
  size: 1;
  margin-top: 50px;
  margin-bottom: 10px;
}
.line {
  display: grid;
  grid-template-columns: 1fr 620px 1fr;
}
#login {
  text-align: center;
}
button[type="submit"] {
  margin: 0px auto;
  border: 0px;
  background: #57af4c;
  width: 480px;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  text-transform: capitalize;
  margin: 60px;
  margin-top: 30px;
  color: white;
  font-size: 20px;
}
#signup_go{

  border: 0px;
  background: #57af4c;
  height:100px;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  padding-top:10px;
  padding-bottom:10px;
  margin: 160px;
  color: white;
  font-size: 15px;
}
p {
  text-align: center;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
#login_copyright {
  text-align: center;
  padding-top: 150px;
  font-size: 10px;
}

input[type="text"] {
  border: 0px solid;
  background: white!important;
  width: 480px;
  font-size: 15px!important;
  padding: 10px;
  margin: 10px;
  text-transform: none;
  color: black;
}

input[type="password"] {
  border: 0px solid;
  background: white!important;
  width: 480px;
  font-size: 15px!important;
  padding: 10px;
  margin: 10px;
  text-transform: none;
  color: black;
}
#signup_go_center{
 margin: 20px;
 padding: 50px;
}